/* CSS para a página home com cartão retangular com imagem à esquerda e informações à direita */
.home-container {
  padding: 20px 200px;
  text-align: center;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.game-list {
  display: block; /* Para que os cartões fiquem empilhados verticalmente */
  margin-top: 20px;
}

.game-card {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 900px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-image {
  width: 150px;
  height: 100%; 
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

.details-link {
  margin-top: auto;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.details-link:hover {
  background-color: #0056b3;
}

.game-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-card.is-dragging {
  opacity: 0.5; 
  transform: scale(1.05);
}

.game-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-card-over {
  background-color: #e0e0e0; 
}

.game-card:active {
  opacity: 0.5;  /* Diminui a opacidade do card durante o arraste */
  transform: scale(1.05); /* Aumenta o card quando arrastado */
}
